# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
pfft-*/
pfft-*.tar.gz

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
pfft

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Coverage
*.gcda
*.gcno
/*coverage.info
/*coverage/

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Temp files
*.swp
*.tmp
*~
~*
*.e

# autotools
/aclocal.m4
/aminclude_static.am
/autom4te.cache/
/build-aux/
conf*.dir/
/config.h
/config.log
/config.status
/configure
.deps/
.dirstamp
Makefile
Makefile.in
stamp-*
*.stamp
*.stamp-*
.Tpo

# dpkg-buildpackage output and other release files
*.debhelper.log
.debhelper/
debian/autoreconf.*
debian/pfft.debhelper.log
debian/pfft/
debian/files
debian/tmp
/pfft-*
*.deb
*.substvars
*.changes
*.buildinfo

# Generated Vala files
*.vapi

# Other
*.pdf
